.rj_ot_upload_media {

top: 0px;

margin: 0px !important;

position: absolute;

right: -45px;

text-indent: -9999px;

}
.user_metabox_wrap .format-setting-label{
  background: none;
  border: none;
  color: #222;
  cursor: text;
  display: block;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 0.1em;
  letter-spacing: 0;
  padding: 0 0 9px 0;
  -webkit-user-select: text;
  text-shadow: none;
}
.inline_rj_input,input[type=text].inline_rj_input{
  width: 49% !important;
}
.rj_map_option_type{
}
.edit-tags-php p.submit {
  text-align: right;
  margin-right:20px;
}
.edit-tags-php .wpseo-taxonomy-form{
  margin-left: 190px;
}
.edit-tags-php #wpwrap > h3{
	text-indent:190px;
}
.edit-tags-php .tax_meta_fields{
  left: 32px;
  position: relative;
}
@media all and (min-width:1024px){
	.user_metabox_wrap{
 		width: 63%;
	}
}